header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.headre-text{
    text-align: justify;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

svg{
    margin: 5px;
}

nav a {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007BFF;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #007BFF;
    border-radius: 50px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

header img{
    height: 300px;
    aspect-ratio: 1.2;
}

.appro-img{
    height: 100%;
    width: 100%;
}